# Node / Vite
node_modules/
dist/
.vite/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp

# Env (si algún día usas variables)
.env
.env.*.local
